
//
// VARIABLES
//

// Colors
$blue: #4183C4; // stoicBlue

// Grays
$black: #161925; // stoicblack
$darkerGray: #161925; // stoicblack
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$footerColor: #f0f0f0;
$white: #FDFFFC; // stoicWhite

$stoicBlack: #161925;
$stoicRed: #C1292E;
$stoicBlue: #4183C4;
$stoicWhite: #FDFFFC;
$stoicYellow: #EDAE49;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
